###############################################################################
# makepkg
###############################################################################

**/src/
**/pkg/

###############################################################################
# Pacotes gerados
###############################################################################

**/*.pkg.tar
**/*.pkg.tar.*
**/*.src.tar
**/*.src.tar.*
**/*.sig

###############################################################################
# Downloads das fontes
###############################################################################

**/*.deb
**/*.rpm
**/*.AppImage
**/*.pacman
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.tar.zst
**/*.tgz
**/*.tbz2
**/*.txz
**/*.7z
**/*.rar

###############################################################################
# Arquivos temporários
###############################################################################

**/*.log
**/*.tmp
**/*.bak
**/*.orig
**/*.rej
**/*~
**/*.swp
**/*.swo
**/keys/
**/*.gpg
**/*.asc
**/*.key
index.html

###############################################################################
# IDEs
###############################################################################

.vscode/
.idea/
###############################################################################
# Sistema operacional
###############################################################################

.DS_Store
Thumbs.db
desktop.ini
